{% extends "layout.html.twig" %}

{% block content %}
    <ul class="list-unstyled">
        {% for user in users %}
            <li>
                <a href="{{ path('show_user', { login: user.property('login') }) }}">
                    {{ user.property('firstname') }} {{ user.property('lastname') }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}